@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+JP&family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button: rgb(240, 173, 78);
  --background: rgb(242, 242, 242);
}
body {
  font-family: "Open Sans", sans-serif;
}
.top-nav {
  display: flex;
  text-align: center;

  flex-direction: column;
  background-color: rgb(52, 152, 219);
  width: 100%;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
  padding-top: 1rem;
}

.nav h1 {
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.nav p {
  font-size: 1rem;
  line-height: 1rem;
  color: rgb(231, 231, 231);
  /* font-size: large; */
  font-weight: 300;
}
.top-segment {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}
.left {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  padding: 6rem 0px;
}
.left h2 {
  font-size: 2.8rem;
  /* letter-spacing: 2px; */
  font-weight: 400;
  color: aliceblue;
  text-align: left;
}
.right img {
  width: 30rem;
}
.sendMail {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: row;
}
.sendMail input {
  height: 2.6rem;
  justify-content: center;
  text-align: center;

  width: 15rem;
  margin: 2px;
  border: none;
  border-radius: 5px;
}
.sendMail input::placeholder {
  font-size: 1.2rem;
  color: rgb(175, 175, 175);
}
.sendMail button {
  height: 3rem;
  margin-bottom: 4px;
  width: 8rem;
  margin: 0px 2px;
  border: none;
  justify-content: center;
  background-color: var(--button);
  border-radius: 5px;
  color: aliceblue;
  font-size: 1.2rem;
  outline: none;
}
.left .sendMail {
  margin: 10px 0px;
  padding: 10px 0px;
}
.centerAllContent {
  background-color: var(--background);
}
.feature-continer {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0px;
}
.feature-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.feature-content h2 {
  font-size: 2.7rem;
  color: black;
  font-weight: 300;
}
.feature-content p {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  color: rgb(160, 174, 175);
}
.featureSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  padding: 1rem;
}
.featureCard {
  display: flex;
  width: 20rem;
  max-height: 15rem;
  min-height: fit-content;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}
.featureCard h4 {
  font-weight: 800;
  font-size: large;
  margin: 1rem auto;
  color: rgb(160, 174, 175);
}
.featureCard p {
  color: rgb(134, 134, 134);
}
.featureCard img {
  width: 8rem;
  margin: auto;
}
.midEmail {
  padding: 1rem 0px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(219, 219, 219);
  border-bottom: 2px solid rgb(219, 219, 219);
}

.midEmail .sendMail input {
  border: solid 2px rgb(219, 219, 219);
}
.footer .sendMail input {
  border: solid 2px rgb(204, 204, 204);
}
.factContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 3rem 0px;
}
.factContainer h2 {
  font-size: 2.7rem;
  color: black;
  font-weight: 300;
  padding: 1rem 0px;
}
.factContainer p {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  color: rgb(160, 174, 175);
}
.factContainer img {
  width: 15rem;
  margin: auto;
  padding: 1rem;
}
.teamContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem 0px;
}
.teamContainer h2 {
  font-size: 2.7rem;
  color: black;
  font-weight: 300;
  padding: 1rem 0px;
  
}
.teamContainer p {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 3rem;
  color: rgb(160, 174, 175);
}
.teamCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding: 1rem 0px;
}
.teamCards .memberCard {
  display: flex;
  width: 20rem;
  height: 25rem;
  margin: 1rem;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  padding: 0px;
}
.teamCards .memberCard img {
  width: 8rem;
  border-radius: 50%;
  margin: 0px auto;
}
.teamCards .memberCard h4 {
  padding: 1rem 0px;
  font-weight: 400;
  color: rgb(160, 174, 175);
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
}
.teamCards .memberCard p {
  font-weight: 200;
  font-size: 1rem;
  padding: 0px;
  line-height: 1.2rem;
  color: rgb(143, 143, 143);
  font-family: "Noto Sans TC", sans-serif;
}
.memLinks {
  display: flex;

  justify-content: center;
  text-align: center;
  flex-direction: row;
}
.memLinks a {
  margin: 0.9rem 0.8rem;
  text-decoration: none;
}
.fab,
.fas {
  color: rgb(124, 186, 228);
}
.footer,
.contactForm {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.footer {
  width: 90%;
  padding: 3rem 0px;
  border-top: 2px solid rgb(219, 219, 219);
}
.contactForm,
.contactInput {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.contactForm h2 {
  font-size: 2rem;
  margin: 1rem auto;
  color: rgb(104, 104, 104);
  padding: 1rem 0px;
}
.contactInput input {
  height: 2.3rem;
  font-size: 1.1rem;
  outline: none;
  color: rgb(88, 88, 87);
  width: 50%;
  margin: 7px auto;
  padding: 0px 1rem;
  border: solid 2px rgb(219, 219, 219);
}
.contactInput input[type="text"]::placeholder {
  font-size: 1.2rem;
  color: rgb(219, 219, 219);
  padding-left: 8px;
}
.contactInput input[type="email"]::placeholder {
  font-size: 1.2rem;
  color: rgb(219, 219, 219);
  padding-left: 8px;
}
textarea {
  text-align: left;
  outline: none;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  color: rgb(104, 104, 104);
  width: 50%;
  margin: 7px auto;
  border: solid 2px rgb(219, 219, 219);
}
.contactInput textarea::placeholder {
  font-size: 1.2rem;
  color: rgb(219, 219, 219);
  padding: 8px;
}

.contactForm button {
  height: 2.6rem;
  box-shadow: 1px 1px 5px rgb(151, 150, 150);
  width: 10rem;
  margin: auto;
  border: none;
  background-color: var(--button);
  border-radius: 5px;
  color: aliceblue;
  font-size: 1rem;
  outline: none;
}

@media only screen and (max-width:1220px){
  .right img{
    width: 400px;
  }
  .left{
    padding: 3rem 0px;
  }
  .left h2 {
    font-size: 2rem;
  
  }
}
@media only screen and (max-width:1124px){

  .right img{
    width: 400px;
    margin:0px auto;
  }
  .left{
    padding: 2rem 0px;
    margin: 0px auto;
  }
  .left h2 {
    font-size: 3rem;
  
  }
  .feature-continer{
    min-height: fit-content;
  }
  .contactInput input,textarea{
    width: 80%;
  }
}
@media only screen and (max-width:1024px){
  .top-nav{
    height: fit-content;
  }
  .top-segment{
    
    margin-top: 5rem;
 }
 .right{
   margin-top: 3rem;
 }
  .right img{
    width: 350px;
    margin:2rem auto;
  }
  .left{
    padding: 2rem 0px;
    margin: 1rem auto;
  }
  .left h2 {
    font-size: 3.5rem;
  
  }
 
}
@media only screen and (max-width:830px){
  .top-segment{
    
    margin-top: 1rem;
 }
 .right{
   margin-top: 1rem;
 }
  .right img{
    width: 290px;
    margin:1rem auto;
  }
 
  .left h2 {
    font-size: 3rem;
  
  }
 
}
@media only screen and (max-width:740px){
  .top-segment{
    margin-top: 1rem;
    
 }
 .right{
  margin-top: 1rem;
}
.right img{
  width: 290px;
  margin:2rem auto;
}
 
  .left{
    padding: 1rem 0px;
    margin: 0px auto;
  }
  .left h2 {
    font-size: 2.1rem;
  
  }
  .contactInput input,textarea{
    width: 100%;
  }

}
@media only screen and (max-width:680px){
  .top-segment{
    margin-top: 1rem;
    
 }
 .right{
  margin-top: 1rem;
}
.right img{
  width: 290px;
  margin:0 auto;
}
 
  .left{
    padding: 1rem 0px;
    margin: 0px auto;
  }
  .left h2 {
    font-size: 1.8rem;
  
  }
  .sendMail input {
    
  
    width: 12rem;
    
  }
  .sendMail button {
    height: 2.8rem;
    margin-bottom: 4px;
    width: 5rem;
    font-size: 1rem;
    
  }


}
@media only screen and (max-width:580px){
  .top-segment{
      
      margin-top: 1rem;
  }
  .right img{
    width: 200px;
    margin:0 auto;
  }
  .left{
    padding: 2rem 0px;
    margin: 0px auto;
  }
  


}
@media only screen and (max-width:430px){
  .top-segment{
      
      margin-top: 1rem;
  }
  .right img{
    width: 300px;
    margin:1rem auto;
  }
  .left{
    padding: 2rem 0px;
    margin: 0px auto;
  }
  .left h2 {
    font-size: 1.4rem;
  
  }  .sendMail input {
    
  
    height:2.2rem ;
    
  }
  .sendMail button {
    height: 2.5rem;
    
    
  }


}
@media only screen and (max-width:320px){
  .top-segment{
      
      margin-top: 0rem;
  }
  .right img{
    width: 300px;
    margin:1rem auto;
  }
  .left{
    padding:  0px;
    margin: 0px auto;
  }
  .left h2 {
    font-size: 1.4rem;
  
  }


}
